<div *ngIf="!countStarted">
  <button
    (click)="startAction()"
    type="button"
    class="btn btn-secondary btn-lg"
    style="margin-left: 0.5em"
  >
    Start
  </button>
</div>
<div *ngIf="countStarted">
  <button
    type="button"
    class="btn btn-secondary btn-lg"
    data-toggle="modal"
    data-target="#finishedModal"
  >
    End
  </button>
</div>
<div id="table" *ngIf="showTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Selected</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of timeBlocks">
        <th scope="row">{{ tb.id }}</th>
        <td>{{ tb.title }}</td>
        <td>{{ tb.startTime | date: "short" }}</td>
        <td>{{ tb.endTime | date: "short" }}</td>
        <td>
          <input
            type="checkbox"
            id="{{ tb.id }}"
            name="vehicle3"
            (click)="makeSelection(tb.id)"
          />
        </td>
        <td>
          <button
            type="button"
            class="btn btn-link"
            (click)="edit(tb.id)"
            data-toggle="modal"
            data-target="#editModal"
          >
            edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="tableButtons" style="margin-top: 0.5em; margin-bottom: 1em">
    <button
      (click)="delete()"
      type="button"
      class="btn btn-secondary btn-lg"
      style="margin-right: 0.5em"
    >
      Delete
    </button>
    <button
      (click)="deleteAllAction()"
      type="button"
      class="btn btn-secondary btn-lg"
      style="margin-right: 0.5em"
    >
      Delete All
    </button>
  </div>
  <!-- <ul id="list">
        <li >
        <span>{{timeblock.title}} - {{timeblock.title}} - ({{timeblock.startTime}}:{{timeblock.endTime}})</span></li>
    </ul> -->
</div>

<!-- Modal after session is finished-->
<div
  class="modal fade"
  id="finishedModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="finishedModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finishedModal">End session</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Title"
            [(ngModel)]="currentSession.title"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="finishSession()"
        >
          End session
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal-->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Title"
            [(ngModel)]="editTitle"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="editSession()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
